[user]
	email = bryanvaz@users.noreply.github.com
	name = Bryan Vaz
[core]
	editor = nano
	excludesfile = /Users/bryan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	tree = log --oneline --graph --decorate --all
