[user]
	email = bryan@vaz.dev
	name = Bryan Vaz
	signingkey = A14A627F46060F2BACC6F4D22AFD3F2E2195CA02
[core]
	editor = nvim
	excludesfile = /Users/bryan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	tree = log --oneline --graph --decorate --all
[commit]
	gpgSign = true
	template = /Users/bryan/.stCommitMsg
[init]
	defaultBranch = main
