[user]
	email = bryan.git@vaz.sh
	name = Bryan Vaz
	signingkey = B869620CAF5FE4493195EBB5710E55C3815AD974
[core]
	editor = nano
	excludesfile = /Users/bryan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	tree = log --oneline --graph --decorate --all
[commit]
	gpgsign = true
